# Módulo I: Python Básico

## Tabla de Contenidos:
* [Variables](#first-bullet)
* [Lists](#second-bullet)
* [Bucles](#third-bullet)

## Capítulo 1: Variables <a class="anchor" id="first-bullet"></a>

En python existen distintos tipos de variables por ej. Int (enteros), float (flotantes), str (strings)...
Para declarar una variable no hace falta declarar su tipo, el intérprete de python ya le asignará un tipo Por ej:

In [2]:
var_int = 4        # Entero
var_float = 4.     # Flotante
var_str = "4"      # String
var_bool = True    # Boolean

print("La variable var1 con valor:", var_int, "es de tipo:", type(var_int),"\n")

print(f"La variable var2 con valor: {var_float} es de tipo: {type(var_float)}\n")

print(f"La variable var3 con valor: {var_str} es de tipo: {type(var_str)}\n")

print(f"La variable var3 con valor: {var_bool} es de tipo: {type(var_bool)}\n")

La variable var1 con valor: 4 es de tipo: <class 'int'>

La variable var2 con valor: 4.0 es de tipo: <class 'float'>

La variable var3 con valor: 4 es de tipo: <class 'str'>

La variable var3 con valor: True es de tipo: <class 'bool'>

Se pueden realizar operaciones sobre las variables.

| Operación | Símbolo |
| --- | --- |
| Suma | + |
| Resta | - |
| Multiplicación | * |
| División | / |
| Exponente | ** |
| Módulo | % |

In [3]:
print((4 * 4) + 3)

print((var_int * 4) + 3)

print((var_float * 4) + 3)

print((var_bool * 4) + 3)

19
19
19.0
7

In [4]:
(var_str * 4) + 3

TypeError: can only concatenate str (not "int") to str

In [5]:
print(var_str * 4) 

print((var_str * 4) + (3 * "3"))

4444
4444333

También hay operaciones que devuelven un valor booleano usados 
a la hora de tomar decisiones

| Operación | Símbolo |
| --- | --- |
| Menor | < |
| Mayor | > |
| Menor o igual | <= |
| Mayor o igual | >= |
| Igualdad | == |
| Negación | != |

In [6]:
print(3 < 5)

print(4 == var_int)

print(4 == var_str)

print(var_float == var_int)

print(var_bool == True)

print(var_bool != 0)

True
True
False
True
True
True

## Capítulo 2: Listas <a class="anchor" id="second-bullet"></a>

Las variables se pueden agrupar en listas usando los paréntesis [ ] y 
comas para delimitar las distintas variables

In [7]:
semana = ["Lunes", "Martes", "Miércoles", "Jueves", \
          "Viernes", "Sábado", "Domingo"]

print(semana,"\n")

print(type(semana))

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

<class 'list'>

Los elementos de una lista no tienen por que ser del mismo tipo

In [8]:
lista = [var_int, var_bool, var_str, semana, "semana"]

print(lista)

[4, True, '4', ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'], 'semana']

Al ser una nueva variable, se pueden hacer operaciones sobre la lista

In [9]:
semana * 2

['Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo',
 'Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo']

In [10]:
semana + semana

['Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo',
 'Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo']

In [11]:
semana - semana

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
"Martes" in semana

True

In [13]:
"Juernes" in semana

False

se pueden extraer los elementos indexando la lista (**empezando por 0!!!**)

In [14]:
print(semana[0], "\n")

print(semana[4], "\n")

print(semana[-1], "\n")

print(lista[3][2], "\n")

Lunes

Viernes

Domingo

Miércoles

In [15]:
print(semana[9])

IndexError: list index out of range

También se pueden acceder a varios elementos usando 'slicing'

In [16]:
print(semana[4:7])

print(semana[1::2])

print(semana[-1::-1])

print(semana[3:-2])

['Viernes', 'Sábado', 'Domingo']
['Martes', 'Jueves', 'Sábado']
['Domingo', 'Sábado', 'Viernes', 'Jueves', 'Miércoles', 'Martes', 'Lunes']
['Jueves', 'Viernes']

Se pueden añadir nuevos elementos a la lista usando el método **.append( )**

In [17]:
semana.append("Juernes")

print(semana)

semana.pop()

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Juernes']

'Juernes'

También se puede contar el número de elementos usando la función **len( )**

In [18]:
print(len(semana), "\n")

print(len(lista), "\n")

7

5

Para extraer el valor máximo o mínimo usamos la función **max( )** o **min( )** respectivamente

In [19]:
numeros = [4,2,5,6,3,1,9,8,7]

print(max(numeros))

print(min(numeros))

9
1

También podemos ordenar una lista usando el método **.sort( )** o usando la función **sorted( )**

In [20]:
numeros.sort()

print(numeros, "\n")

numeros.sort(reverse = True)

print(numeros, "\n")

print(sorted(numeros))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Capítulo 3: Bucles <a class="anchor" id="third-bullet"></a>

El bucle **for** es el más común

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
dias_semana = len(semana)

for i in range(dias_semana):
    print(semana[i])

Lunes
Martes
Miércoles
Jueves
Viernes
Sábado
Domingo

También podemos añadir condiciones dentro del flujo con las cláusulas if-else

In [23]:
for i in range(7):
    
    if i >= 4:
        print(semana[i])
    else:
        pass

Viernes
Sábado
Domingo

In [24]:
for i in range(7):
    
    if i == 0:
        print(f"Hoy es {semana[i]}")
    elif i == 1:
        print(f"Hoy ya es {semana[i]}")
    elif (i > 1) and (i < 4):
        print(f"Ya estamos a {semana[i]}")
    elif i == 4:
        print("VIERNES!!!")
    else:
        print(semana[i])

Hoy es Lunes
Hoy ya es Martes
Ya estamos a Miércoles
Ya estamos a Jueves
VIERNES!!!
Sábado
Domingo

También existe el bucle **while**

In [25]:
i = 0
while i < 5:
    
    print(i**2)
    
    i += 1

0
1
4
9
16

(cuidado con los bucles infinitos)

In [26]:
'''

i = 0 
while i < 1:
    print(i)
    
'''

'\n\ni = 0 \nwhile i < 1:\n    print(i)\n    \n'

Tip: usar **enumerate** en vez de **range** en un bucle **for**

In [27]:
for count, day in enumerate(semana):
    print(f"{count + 1} : {day}")

1 : Lunes
2 : Martes
3 : Miércoles
4 : Jueves
5 : Viernes
6 : Sábado
7 : Domingo

Se pueden crear listas con una cierta estructura usando *list comprehension*:

In [28]:
# Bucle normal

cuadrados = []

for i in range(5):
    cuadrados.append((i+1)**2)

print(cuadrados)

# List comprehension

cuadrados = [(i+1)**2 for i in range(5)]

print(cuadrados)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]